{% extends 'base.html.twig' %}

{% block body %}
    <div class="content text-center">
        <h1 class="page-header">Welcome to the homepage of the school</h1>
        <p>info over the school!</p>
    </div>
{% endblock %}
