{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div style="text-align: left" class="container content">
        <h2 class="page-header">Wachtwoord veranderen</h2>
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" class="btn btn-success" value="Wachtwoord veranderen"/>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock fos_user_content %}
