body {
    background-color: #FAFAFA;
}
.navbar {
    background-color: #6882ad;
}

.fRight {
    float: right;
}

.content {
    margin-top: 5%;
    text-align: center;
}

.userProfilePicture {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.table-header {
    font-size: 25px;
}

.clickable {
    cursor: pointer;
}