body {
    background-color: #FAFAFA;
}
.navbar {
    background-color: #6882ad;
}
#settings {
    color: white;
    margin-top: 10px;
}

.content {
    margin-top: 5%;
    text-align: center;
}

.userProfilePicture {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.table-header {
    font-size: 25px;
}

.clickable {
    cursor: pointer;
}
.footer {
    position: relative;
    height: 45px;
    color: #000000;
    bottom: 0;
    width: 100%;
    background-color: #6882ad;
    margin-top: 35px;
}
